@import "abstracts/variables";

.bs-sign-in-page-side-content {
  $padding-x: 13%;
  $padding-y: 50px;

  display: grid;
  column-gap: $col-gap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);;
  padding: $padding-y $padding-x;
  border-radius: 10px;
  height: calc(100% - 2 * #{$padding-y});

  background-color: $bs-primary-light-1;
  @extend .mat-elevation-z10;


  mat-form-field {
    @extend .mat-elevation-z1;
    background-color: white;
    border-radius: 6px;
    height: 59px;
  }

  .item-height {
    height: 40px;
  }

  .item-3col-span {
    grid-column: 1 / 4;
  }

  mat-icon {
    color: darkgrey;
  }
}
