<section class="header-section">
  <div class="mat-display-2 page-title">Tasks</div>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="primary">
    <a mat-tab-link routerLink="/main/tasks/list" [active]="router.url === '/main/tasks/list'">List</a>
    <a mat-tab-link routerLink="/main/tasks/config" [active]="router.url === '/main/tasks/config'">Settings</a>
    <a mat-tab-link [routerLink]="['/main/tasks/details', routeId]" (click)="onNavChange()"
       [active]="router.url.startsWith('/main/tasks/details')">{{this.router.url.substring(20)}}</a>
  </nav>
</section>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
