<bs-workspace-layout>
  <section>
<!--    <div class="mat-display-4">mat-display-4</div>-->
<!--    <div class="mat-display-3">mat-display-3</div>-->
<!--    <div class="mat-display-2">mat-display-2</div>-->
<!--    <div class="mat-display-1">mat-display-1</div>-->

<!--    <div class="mat-headline">mat-headline</div>-->
<!--    <div class="mat-title">mat-title</div>-->
<!--    <div class="mat-subheading-2">mat-subheading-2</div>-->
<!--    <div class="mat-subheading-1">mat-subheading-1</div>-->
<!--    <div class="mat-body-1">mat-body-1</div>-->
<!--    <div class="mat-body-2">mat-body-2</div>-->
<!--    <div class="mat-caption">mat-caption</div>-->
<!--    <div class="mat-button">mat-button</div>-->
<!--    <div class="mat-input">mat-input</div>-->

    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Raised</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  </section>
</bs-workspace-layout>
