$text-color: green;

$bs-primary-1: #283593;
$bs-accent-1: #ffa000;

$blue-crayola: #0d71f0ff;
$azure: #0c84f1ff;

$light-cornflower-blue: #8ecae6ff;
$blue-green: #219ebcff;
$blue-sapphire: #126782ff;
$prussian-blue: #023047ff;
$gunmetal: #303c43ff;

$selective-yellow: #ffb703ff;
$orange-peel: #fd9e02ff;
$tangerine: #fb8500ff;

