<div class="actions">
  <mat-form-field class="search-input bs-compact-form-field">
    <mat-label>Filter out by query</mat-label>
    <input matInput placeholder="Query"
           [(ngModel)]="filter.query" (ngModelChange)="onFilterChange()">
  </mat-form-field>
  <bs-issue-type-selector [required]="false" class="filter-input bs-compact-form-field"
                          [(selectedType)]="filter.type"
                          (selectedTypeChange)="onFilterChange()"></bs-issue-type-selector>
  <bs-issue-severity-selector [required]="false" class="filter-input bs-compact-form-field"
                              [(selectedSeverity)]="filter.severity"
                              (selectedSeverityChange)="onFilterChange()"></bs-issue-severity-selector>
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="filter.status" (valueChange)="onFilterChange()">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="filterExpanded = !filterExpanded" color="accent" class="button-action">
    <ng-container *ngIf="filterExpanded">
      <span>Hide filters</span>
      <mat-icon>expand_less</mat-icon>
    </ng-container>
    <ng-container *ngIf="!filterExpanded">
      <span>More filters</span>
      <mat-icon>expand_more</mat-icon>
    </ng-container>
  </button>
</div>
<div class="actions expanded-actions" *ngIf="filterExpanded">
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Reporter</mat-label>
    <mat-select>
      <mat-option>demuse</mat-option>
      <mat-option>jantes</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Assignee</mat-label>
    <mat-select>
      <mat-option>demuse</mat-option>
      <mat-option>jantes</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-search bs-compact-form-field">
    <mat-label>Created between</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<mat-divider></mat-divider>

<div *ngIf="noIssues; else issuesSection">

</div>
<ng-template #issuesSection>
  <section class="issue-table-container">
    <div class="table-row row-header">
      <div></div>
      <div></div>
      <div>Tag</div>
      <div class="avatar"></div>
      <div class="status">Status</div>
      <div class="title">Title</div>
      <div class="epic">Epic</div>
      <div class="labels">Labels</div>
      <div></div>
    </div>
    <div *ngFor="let issue of issues" class="table-row">
      <bs-issue-type-icon [type]="issue.issueType"></bs-issue-type-icon>
      <bs-issue-severity-icon [severity]="issue.issueSeverity"></bs-issue-severity-icon>
      <a href="#" [routerLink]="['/main/tasks/details', issue.tagId]">{{issue.tagId}}</a>

      <div class="avatar">
        <bs-avatar *ngIf="issue.assignee"
                   [style]="'initials'"
                   [seed]="issue.assignee.firstName?.charAt(0) + '' + issue.assignee.lastName?.charAt(0)"
                   [radius]="10"
                   [size]="25"></bs-avatar>
      </div>

      <bs-status-chip class="status" [status]="issue.status"></bs-status-chip>
      <div class="title">{{issue.name}}</div>
      <bs-epic-label class="epic" [epicName]="issue.epicName"></bs-epic-label>
      <bs-labels [labels]="issue.labels"></bs-labels>
      <mat-icon>more_vert</mat-icon>
    </div>
    <mat-paginator [length]="pager.totalElements"
                   [pageSize]="pager.pageSize"
                   [pageSizeOptions]="pager.pageSizes"
                   [showFirstLastButtons]="true"
                   [pageIndex]="pager.page"
                   (page)="onPageChanged($event)"
                   class="bs-compact-form-field">
    </mat-paginator>
  </section>
</ng-template>
