@import "themes/light";

.actions {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;

  .search-input {
    width: 320px;
    max-height: 44px;
  }

  .filter-input {
    max-height: 44px;
    width: 150px;
  }
}

.expanded-actions {
  padding-top: 0;
  padding-bottom: 0;
}

.issue-table-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  //background-color: ghostwhite;
  border-radius: 5px;
  //padding: 20px 20px 0;
  margin: 30px 50px;

  //border-style: solid;
  border-width: 1px;
  border-color: lightgrey;

  @media (max-width: 1024px) {
    margin: 10px 20px;
  }

  .row-header {
    font-weight: 500;

    @media (max-width: 1500px) {
      display: none !important;
    }
  }

  mat-paginator {
    background-color: inherit;
  }

  .table-row {
    background-color: white;
    border-radius: inherit;
    display: inline-grid;
    grid-template-columns: 20px 20px 90px 50px 125px repeat(13, 1fr);
    grid-auto-rows: 40px;
    gap: 10px;
    padding: 0 20px;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;

    mat-icon {
      color: darkgrey;
      margin-left: auto;
      padding: 0;
    }

    .title {
      grid-column: span 4;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide overflow */
      text-overflow: ellipsis; /* Show ellipsis when text overflows */
    }

    .epic {
      grid-column: span 3;
    }

    .labels {
      grid-column: span 5;
    }

    .kebab-menu {
      grid-row: 1;
      grid-column: 18;
    }

    @media (max-width: 1500px) {
      grid-template-columns: 20px 20px 90px 50px 1fr repeat(13, 1fr);
      grid-auto-rows: 30px;
      padding: 5px 10px;

      .details-link {
        grid-column: 3 / 4;
        grid-row: 2;
      }

      .status {
        grid-column: 3 / 5;
        grid-row: 1;
      }

      .title {
        grid-column: 5 / 13;
      }

      .epic {
        grid-column: 14 / 17;
        grid-row: 1;
      }

      .avatar {
        grid-row: 2;
        grid-column: 1;
      }

      .labels {
        grid-column: 5 / 17;
        grid-row: 2;
      }
    }

    @media (max-width: 1024px) {
      .title {
        grid-column: 5 / 17;
      }

      .epic {
        grid-column: 5 / 17;
        grid-row: 2;
      }

      .labels {
        display: none !important;
      }
    }

  }
}
