<div class="actions">
  <mat-form-field class="search-input bs-compact-form-field">
    <mat-label>Filter out by query</mat-label>
    <input matInput placeholder="Query"
           [(ngModel)]="filter.query" (ngModelChange)="onQueryChange()">
  </mat-form-field>
  <bs-issue-type-multi-selector [required]="false" class="filter-input"
                                [(selectedTypes)]="this.filter.types"
                                (selectedTypesChange)="onFilterChange()"></bs-issue-type-multi-selector>
  <bs-issue-severity-multi-selector [required]="false" class="filter-input"
                                    [(selectedSeverities)]="this.filter.severities"
                                    (selectedSeveritiesChange)="onFilterChange()"></bs-issue-severity-multi-selector>
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Status</mat-label>
    <mat-select multiple [(value)]="filter.statuses" (valueChange)="onFilterChange()">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="onClear()" color="accent" class="button-action" [disabled]="!filterTouched">
      <span>Clear</span>
      <mat-icon>close</mat-icon>
  </button>
  <button mat-button (click)="filterExpanded = !filterExpanded" color="accent" class="button-action">
    <ng-container *ngIf="filterExpanded">
      <span>Hide filters</span>
      <mat-icon>expand_less</mat-icon>
    </ng-container>
    <ng-container *ngIf="!filterExpanded">
      <span>More filters</span>
      <mat-icon>expand_more</mat-icon>
    </ng-container>
  </button>
</div>
<div class="actions expanded-actions" *ngIf="filterExpanded">
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Reporter</mat-label>
    <mat-select [(value)]="this.filter.reporterId" (valueChange)="onFilterChange()">
      <mat-option *ngFor="let reporter of users" [value]="reporter.id">{{reporter.username}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-input bs-compact-form-field">
    <mat-label>Assignee</mat-label>
    <mat-select [(value)]="this.filter.assigneeId" (valueChange)="onFilterChange()">
      <mat-option *ngFor="let assignee of users" [value]="assignee.id">{{assignee.username}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-search bs-compact-form-field">
    <mat-label>Created between</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" #dateRangeStart
             [value]="filter.startDate">
      <input matEndDate placeholder="End date" #dateRangeEnd
             [value]="filter.endDate"
             (dateChange)="dateRangeChange(dateRangeStart.value, dateRangeEnd.value)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<mat-divider></mat-divider>

<div *ngIf="noIssues; else issuesSection">

</div>
<ng-template #issuesSection>
  <table class="issue-table-container" matSort (matSortChange)="onSortByChanged($event)">
    <div class="table-row row-header">
      <div></div>
      <div></div>
      <div mat-sort-header="id">Tag</div>
      <div mat-sort-header="username" class="avatar">User</div>
      <div mat-sort-header="status" class="status">Status</div>
      <div mat-sort-header="title" class="title">Title</div>
      <div mat-sort-header="epic" class="epic">Epic</div>
      <div class="labels">Labels</div>
      <div></div>
    </div>
    <div *ngFor="let issue of issues" class="table-row">
      <bs-issue-type-icon [type]="issue.type"></bs-issue-type-icon>
      <bs-issue-severity-icon [severity]="issue.severity"></bs-issue-severity-icon>
      <a href="#" [routerLink]="['/main/tasks/details', issue.tagId]">{{issue.tagId}}</a>

      <div class="avatar">
        <bs-avatar *ngIf="issue.assignee"
                   [style]="'initials'"
                   [seed]="issue.assignee.firstName?.charAt(0) + '' + issue.assignee.lastName?.charAt(0)"
                   [radius]="10"
                   [size]="25"></bs-avatar>
      </div>

      <bs-status-chip class="status" [status]="issue.status"></bs-status-chip>
      <div class="title">{{issue.name}}</div>
      <bs-epic-label class="epic" [epicName]="issue.epicName"></bs-epic-label>
      <bs-labels [labels]="issue.labels"></bs-labels>
      <mat-icon>more_vert</mat-icon>
    </div>
    <mat-paginator [length]="pager.totalElements"
                   [pageSize]="pager.pageSize"
                   [pageSizeOptions]="pager.pageSizes"
                   [showFirstLastButtons]="true"
                   [pageIndex]="pager.page"
                   (page)="onPageChanged($event)"
                   class="bs-compact-form-field">
    </mat-paginator>
  </table>
</ng-template>
