.actions {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.backlog-list-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: ghostwhite;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px 50px;

  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;

  .list-title {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .backlog-list-row {
    border-radius: inherit;
    display: flex;
    background-color: white;
    gap: 10px;
    max-height: 40px;
    padding: 6px 20px;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;

    .tag {
      width: 100px;
    }

    .status {
      width: 120px;
    }

    .title {
      width: 30%;
    }

    .user-avatar-container {
      height: 25px;
    }

    .draggable {
      cursor: move;
    }

    mat-icon {
      color: darkgrey;
    }

    :last-child {
      margin-left: auto;
    }
  }
}
