<div class="actions">
  <button mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
    New list
  </button>
</div>
<mat-divider></mat-divider>

<div cdkDropListGroup>
  <div class="backlog-list-container"
       (cdkDropListDropped)="drop($event, 'active')"
       cdkDropList [cdkDropListData]="active">
    <div class="list-title">Active kanban list {{active.length}}</div>
    <div *ngFor="let issue of active" class="backlog-list-row" cdkDrag>
      <mat-icon class="draggable">drag_indicator</mat-icon>
      <bs-issue-type-icon [type]="issue.type"></bs-issue-type-icon>
      <bs-issue-severity-icon [severity]="issue.severity"></bs-issue-severity-icon>
      <a href="#" [routerLink]="['/main/tasks/details', issue.tagId]" class="tag">{{issue.tagId}}</a>
      <bs-status-chip class="status" [status]="issue.status"></bs-status-chip>
      <div class="title">{{issue.name}}</div>
      <bs-epic-label [epicName]="issue.epicName"></bs-epic-label>
      <mat-icon></mat-icon>
    </div>
  </div>

  <div class="backlog-list-container"
       (cdkDropListDropped)="drop($event,'inactive')"
       cdkDropList [cdkDropListData]="inactive">
    <div class="list-title">Inactive kanban list {{inactive.length}}</div>
    <div *ngFor="let issue of inactive" class="backlog-list-row" cdkDrag>
      <mat-icon class="draggable">drag_indicator</mat-icon>
      <bs-issue-type-icon [type]="issue.type"></bs-issue-type-icon>
      <bs-issue-severity-icon [severity]="issue.severity"></bs-issue-severity-icon>
      <a href="#" [routerLink]="['/main/tasks/details', issue.tagId]" class="tag">{{issue.tagId}}</a>
      <bs-status-chip class="status" [status]="issue.status"></bs-status-chip>
      <div class="title">{{issue.name}}</div>
      <bs-epic-label [epicName]="issue.epicName"></bs-epic-label>
      <mat-icon></mat-icon>
    </div>
  </div>
</div>
