<mat-form-field>
  <button mat-icon-button matPrefix tabindex="-1">
    <bs-avatar [style]="'bottts'"
               [seed]="selectedProject.name"
               [size]="30"></bs-avatar>
  </button>
  <mat-label>Select project</mat-label>
  <mat-select [(ngModel)]="selectedProject" [required]="true">
    <mat-option *ngFor="let project of availableProjects" [value]="project" (click)="onSelect()">
      <div>
        <bs-avatar [style]="'bottts'"
                   [seed]="project.name"
                   [size]="40"></bs-avatar>
        <p>{{ project.name }}</p>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
