<div class="actions">
<!--  <button mat-stroked-button color="primary">-->
<!--    <mat-icon>edit</mat-icon>-->
<!--    Edit-->
<!--  </button>-->
  <button *ngIf="!noProjects" mat-raised-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    New project
  </button>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div *ngIf="noProjects" class="no-data">
    <b class="mat-display-2">There are no defined projects for your user</b>
    <div class="mat-display-1">Create project to start working</div>
    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Create project
    </button>
  </div>

  <mat-expansion-panel *ngFor="let project of projectsList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="https://avatars.dicebear.com/api/bottts/{{project.name}}.svg?size=70" alt="">
        <p>{{this.project.name}}</p>
        <p>{{this.project.tag}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <b>Description</b>
    <p>{{this.project.description}}</p>
  </mat-expansion-panel>
</div>

