@import "abstracts/variables";

$padding-y: 40px;
$padding-x: 40px;

.page-container {
  padding: $padding-y $padding-x;
  height: calc(100% - 2 * #{$padding-y});
  min-height: 800px;
}

.page-content {
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: 100%;
}

.intro-container {
  //background-color: darkblue;
}

.login-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);;
  padding: 40px 10%;
  border-radius: 10px;

  background-color: #e7f9ff;
  backdrop-filter: blur(5px);
  //background:linear-gradient(-27deg, #E9F8FF 30%, #BCD0E7 60%, #C1E3FF 90%);
}

.lang-container {
  display: flex;
  column-gap: 15px;
}

.item-x-span {
  grid-column-start: 1;
  grid-column-end: 4;
}

mat-form-field {
  background-color: white;
  border-radius: 6px;
}

mat-icon {
  color: $gunmetal;
}

.item-height {
  height: 59px;
}
