<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="isHandset$ | async"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="bs-app-title">Bug Stalker.</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
