<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <button type="button" routerLink="/main">main</button>
    <button type="button" routerLink="/main/test">main/test</button>
    <button type="button" routerLink="/main/auth/login">auth</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="isHandset$ | async"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: orange; font-weight: bold">Bug</span>
      <span class="bs-app-title">Stalker.</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
