<section>
  <div mat-dialog-title class="dialog-title">
    <h2 class="mat-display-2">Create new issue</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close="" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content">
    <mat-grid-list cols="2" gutterSize="20" rowHeight="63" class="essential-data-form">
      <mat-grid-tile>
        <bs-project-selector class="external-form-field"></bs-project-selector>
      </mat-grid-tile>

      <mat-grid-tile>
        <bs-issue-type-selector class="external-form-field" [selectedType]="'enhancement'"></bs-issue-type-selector>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Issue name</mat-label>
          <input matInput required="true">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <bs-issue-severity-selector class="external-form-field" [selectedSeverity]="'trivial'"></bs-issue-severity-selector>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="full-span-container">
      <mat-form-field class="external-form-field">
        <mat-label>Summary</mat-label>
        <input matInput>
      </mat-form-field>

      <bs-labels-input class="external-form-field"></bs-labels-input>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput cdkTextareaAutosize placeholder="Full issue description"></textarea>
    </mat-form-field>

    <mat-divider class="divider-top"></mat-divider>


    <div class="additional-section">
      <section *ngIf="expanded">
      </section>
      <button mat-button (click)="expanded = !expanded" color="accent" class="button-action">
        <ng-container *ngIf="expanded">
          <span>Show less</span>
          <mat-icon>expand_less</mat-icon>
        </ng-container>
        <ng-container *ngIf="!expanded">
          <span>Show more</span>
          <mat-icon>expand_more</mat-icon>
        </ng-container>
      </button>
    </div>

  </div>
  <div mat-dialog-actions class="actions">
    <button mat-flat-button (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onCreateIssue()" [disabled]="!isFormValid()">Create issue</button>
  </div>
</section>
