mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper {
  margin-top: 0;
}

mat-toolbar, mat-sidenav {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 12px 0;
    height: 16px;
    font-size: 18px;
  }
}
